<div ng-hide="grill._id" class="alert alert-info hidden-print">
	<span ng-if="loadRandom">
		Generando grilla aleatoriamente <span class="glyphicon glyphicon-refresh"></span>
	</span>
	<span ng-if="!loadRandom">
		Cargando grilla <span class="glyphicon glyphicon-cloud-download"></span>
	</span>
</div>
<div ng-show="grill._id">
<div class="row hidden-print">
	<div class="col-md-12">
	    <a href="/html" class="btn btn-success btn-sm" ng-click="showResult=!showResult">
	        Nueva Grilla <span class="glyphicon glyphicon-refresh"></span>
	    </a>
	</div>
</div>
<div class="row" style="margin-bottom:2em;margin-top:1em">
	<div class="col-md-6">
		Una frase de: <strong>{{grill.author}}</strong>
	</div>
	<div class="col-md-6" title="{{grill.avgFrecuency}}">
		<!-- max frecuency 1686 -->
		Dificultad: <strong>{{(1-grill.avgFrecuency/500)*100|number:1}}%</strong>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<table class="table table-striped table-bordered table-condensed">
			<tr ng-repeat="row in matrix">
				<th style="width:2em" title="{{grill.frecuencies[$index]}}">{{$index+1}}</th>
				<td style="text-align:center;width:2em" ng-repeat="letter in row track by $index" ng-class="{'bold-phrase':isPhrase($index)}"><span>
					<input maxlength="1" style="padding: 5px 5px;text-align: center;" type="text" class="form-control input-sm" ng-model="letter"/>
				</td>
				<td style="display:none">
					{{grill.frecuencies[$index]}}
				</td>
			</tr>
		</table>
	</div>
	<div class="col-md-6">
		<table class="table table-bordered table-condensed">
			<tr ng-init="solved=false" ng-repeat="definition in grill.definitions track by $index">
				<th style="width:2em">{{$index+1}}</th>
				<td ng-class="{'background-yellow':solved}">
					<span ng-bind-html="parseWiki(definition)"></span>
				</td>
				<td>
					<span ng-hide="solved" style="cursor: pointer;" ng-click="solved=!solved" class="glyphicon glyphicon-unchecked"></span>
					<span ng-show="solved" style="cursor: pointer;" ng-click="solved=!solved" class="glyphicon glyphicon-check"></span>
				</td>
			</tr>
		</table>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<span ng-init="used=false" ng-repeat="sil in grill.syllables|orderBy:orderSil track by $index">
			<span ng-click="used=!used" ng-hide="used" style="cursor: pointer;"><b>{{sil}}</b></span>
			<span ng-click="used=!used" ng-show="used" style="cursor: pointer;text-decoration: line-through; border: 1px solid; padding: 1px;border-radius: 5px;background: yellow;">{{sil}}</span>
			<span ng-hide="$last"> - </span>
		</span>
	</div>
</div>

<!-- Table with results -->
<button style="margin-top: 2em;" ng-init="showResult=false" type="button" class="btn btn-sm btn-danger hidden-print" ng-click="showResult=!showResult">Ver Resultado</button>
<div ng-show="showResult" class="hidden-print">
	<div class="row" style="margin-bottom:2em;">
		<div class="col-md-12">
			Frase: <i><span ng-bind-html="parseWiki(grill.phrase)"></span></i>
			- <strong>{{grill.author}}</strong>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<table class="table table-striped table-bordered table-condensed">
				<tr ng-repeat="row in grill.matrix track by $index">
					<th style="width:2em">{{$index+1}}</th>
					<td>
						{{row}}
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
<div class="visible-print">
	<div class="row" style="margin-bottom:2em;margin-top:2em">
		<div class="col-md-12">
			Frase: <i><span ng-bind-html="parseWiki(grill.phrase)"></span></i>
			- <strong>{{grill.author}}</strong>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<span ng-repeat="row in grill.matrix track by $index">
				{{$index+1}}) {{row}} - 
			</span>
		</div>
	</div>
</div>
<footer style="margin-top:3em">
	link permanente: 
	<a href="/html/#/grill/{{grill._id}}">
		http://infintegrill.herokuapp.com/html/#/grill/{{grill._id}}
	</a>
</footer>
</div>